[submodule "Holt/vendor/spdlog"]
	path = Holt/vendor/spdlog
	url = https://github.com/wooodiest/spdlog
[submodule "Holt/vendor/GLFW"]
	path = Holt/vendor/GLFW
	url = https://github.com/wooodiest/glfw
[submodule "Holt/vendor/imgui"]
	path = Holt/vendor/imgui
	url = https://github.com/wooodiest/imgui.git
	branch = docking
[submodule "Holt/vendor/glm"]
	path = Holt/vendor/glm
	url = https://github.com/wooodiest/glm
[submodule "Holt/vendor/yaml-cpp"]
	path = Holt/vendor/yaml-cpp
	url = https://github.com/wooodiest/yaml-cpp
